html,
body {
    height: 100%;
    background-color: rgb(42, 42, 42);
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#wrap {
    border-radius: 5px;
    width: 1000px;
    position: relative;
    top: 60px;
    margin: auto;
}

div {
    word-break: break-all;
}

#header {
    height: 50px;
    background-color: rgb(45, 50, 54);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 15px;
}
h3 {
    line-height: 20px;
    color: rgb(200, 200, 200);
}
.clear {
    clear: both;
}

.grey {
    background-color: rgb(242, 242, 242);
}
.blue {
    background-color: rgb(231, 252, 255);
}
.white {
    background-color: rgb(255, 255, 255);
}
.minh {
    min-height: 400px !important;
}

.item {
    padding: 10px 0 10px 10px;
    min-height: 30px;
}

.item:hover {
    background-color: rgb(240, 240, 240);
}
.func {
    border-bottom: 2px solid rgb(230, 230, 230);
}
.span3, .span7{
    margin-left: 0px !important;
}

.info {
    float: left;
    min-width: 150px;
}

.ops {
    float: left;
    width: 48px;
}

.ops a {
    font-size: 80%;
}

#detail {
    padding: 20px;
}